@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #161212;
  --grey: #28272c;
  --red: #d90000;
  --white: #f6f6f6;
}
body {
  background-color: var(--grey);
}
.container {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;
  width: 40%;
  margin: 4rem auto;
  border-radius: 5px;
}
#name {
  color: var(--red);
}
.weather--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  border: none;
  background-color: var(--grey);
  outline: none;
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
  display: inline-block;
}
input::placeholder {
  color: var(--white);
}
.wsearch {
  position: relative;
}
.wsearch i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--red);
}
.weather--unit {
  font-size: 1.25rem;
  margin: 2rem;
}
.weather--unit span {
  cursor: pointer;
  margin: 0px 1.75px;

  padding: 0.75rem 1.25rem;
  font-size: 20px;
  width: 60px;

  background-color: var(--grey);
  border-radius: 40px;
}

.weather--body {
  text-align: center;
  margin-top: 2rem;
}
.weather--datetime {
  font-size: 14px;
  margin-bottom: 2rem;
}
.weather--forecast {
  background-color: var(--grey);
  display: inline-block;
  border-radius: 25px;
  padding: 0.25rem 1.25rem;
  font-weight: 600;
}
.weather--icon img {
  width: 100px;
}
.weather--temp {
  font-size: 1.75rem;
  font-weight: 500;
}
.weather--info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.weather--MinMax {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.weather--MinMax p {
  margin: 1rem;
  padding: 0.65rem;
  background-color: var(--grey);
  border-radius: 10px;
}
.weather--card {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  border-radius: 10px;
  padding: 1rem;
}
.weather--card i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.weather--card p {
  font-size: 14px;
}
@media (max-width: 936px) {
  .container {
    width: 90%;
  }
  .weather--header {
    display: flex;
    flex-direction: column;
  }
  .weather--unit {
    margin-top: 1rem;
  }
}
@media (max-width: 400px) {
  .weather-info {
    grid-template-columns: none;
  }
}
